<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERPNext</title>
    <link th:href="@{/css/generalise.css}" rel="stylesheet">
</head>
<body>
    <div class="layout">
        <!-- Sidebar -->
        <aside class="sidebar">
            <div class="sidebar-header">
                <h2 style="color: white">New App</h2>
                <div class="sidebar-toggle" id="sidebar-toggle">
                    <svg viewBox="0 0 24 24">
                        <path d="M4 6h16M4 12h16M4 18h16"/>
                    </svg>
                </div>
            </div>
            <nav class="sidebar-nav">
                <a href="/api/hrms-csv-import/" class="nav-item">
                    <svg viewBox="0 0 24 24" class="nav-icon">
                        <path d="M3 17v2h6v-2H3zM3 5v2h10V5H3zm10 16v-2h8v-2h-8v-2h-2v6h2zM7 9v2H3v2h4v2h2V9H7zm14 4v-2H11v2h10zm-6-4h2V7h4V5h-4V3h-2v6z"/>
                    </svg>
                    <span>Data Import</span>
                </a>
            
                <a href="/api/hrms/employees" class="nav-item">
                    <svg viewBox="0 0 24 24" class="nav-icon">
                        <path d="M3 17v2h6v-2H3zM3 5v2h10V5H3zm10 16v-2h8v-2h-8v-2h-2v6h2zM7 9v2H3v2h4v2h2V9H7zm14 4v-2H11v2h10zm-6-4h2V7h4V5h-4V3h-2v6z"/>
                    </svg>
                    <span>Liste des Employés</span>
                </a>

                <a href="/api/hrms/insert" class="nav-item">
                    <svg viewBox="0 0 24 24" class="nav-icon">
                        <path d="M3 17v2h6v-2H3zM3 5v2h10V5H3zm10 16v-2h8v-2h-8v-2h-2v6h2zM7 9v2H3v2h4v2h2V9H7zm14 4v-2H11v2h10zm-6-4h2V7h4V5h-4V3h-2v6z"/>
                    </svg>
                    <span>Générer Salaire</span>
                </a>

                <a href="/api/hrms/update-base-assignment" class="nav-item">
                    <svg viewBox="0 0 24 24" class="nav-icon">
                        <path d="M3 17v2h6v-2H3zM3 5v2h10V5H3zm10 16v-2h8v-2h-8v-2h-2v6h2zM7 9v2H3v2h4v2h2V9H7zm14 4v-2H11v2h10zm-6-4h2V7h4V5h-4V3h-2v6z"/>
                    </svg>
                    <span>Modification de Salaire</span>
                </a>
            
                <a href="/api/hrms/summary" class="nav-item">
                    <svg viewBox="0 0 24 24" class="nav-icon">
                        <path d="M3 17v2h6v-2H3zM3 5v2h10V5H3zm10 16v-2h8v-2h-8v-2h-2v6h2zM7 9v2H3v2h4v2h2V9H7zm14 4v-2H11v2h10zm-6-4h2V7h4V5h-4V3h-2v6z"/>
                    </svg>
                    <span>Salaire des Employés Mensuel</span>
                </a>
            
                <a href="/api/hrms/salary-search" class="nav-item">
                    <svg viewBox="0 0 24 24" class="nav-icon">
                        <path d="M3 17v2h6v-2H3zM3 5v2h10V5H3zm10 16v-2h8v-2h-8v-2h-2v6h2zM7 9v2H3v2h4v2h2V9H7zm14 4v-2H11v2h10zm-6-4h2V7h4V5h-4V3h-2v6z"/>
                    </svg>
                    <span>Recherche salaire</span>
                </a>

                <a href="/api/hrms/payroll-summary" class="nav-item">
                    <svg viewBox="0 0 24 24" class="nav-icon">
                        <path d="M3 17v2h6v-2H3zM3 5v2h10V5H3zm10 16v-2h8v-2h-8v-2h-2v6h2zM7 9v2H3v2h4v2h2V9H7zm14 4v-2H11v2h10zm-6-4h2V7h4V5h-4V3h-2v6z"/>
                    </svg>
                    <span>Tableau Récap Mensuel</span>
                </a>

                
            
                <a href="/api/hrms/salary-evolution" class="nav-item">
                    <svg viewBox="0 0 24 24" class="nav-icon">
                        <path d="M3 17v2h6v-2H3zM3 5v2h10V5H3zm10 16v-2h8v-2h-8v-2h-2v6h2zM7 9v2H3v2h4v2h2V9H7zm14 4v-2H11v2h10zm-6-4h2V7h4V5h-4V3h-2v6z"/>
                    </svg>
                    <span>Dashboard</span>
                </a>

                <a href="/api/hrms/base-salary-modification" class="nav-item">
                    <svg viewBox="0 0 24 24" class="nav-icon">
                        <path d="M3 17v2h6v-2H3zM3 5v2h10V5H3zm10 16v-2h8v-2h-8v-2h-2v6h2zM7 9v2H3v2h4v2h2V9H7zm14 4v-2H11v2h10zm-6-4h2V7h4V5h-4V3h-2v6z"/>
                    </svg>
                    <span>Aléa 1</span>
                </a>

                <a href="/api/hrms/reapply-adjustments" class="nav-item">
                    <svg viewBox="0 0 24 24" class="nav-icon">
                        <path d="M3 17v2h6v-2H3zM3 5v2h10V5H3zm10 16v-2h8v-2h-8v-2h-2v6h2zM7 9v2H3v2h4v2h2V9H7zm14 4v-2H11v2h10zm-6-4h2V7h4V5h-4V3h-2v6z"/>
                    </svg>
                    <span>Aléa 2</span>
                </a>

                <a href="/api/hrms/salary-change-history" class="nav-item">
                    <svg viewBox="0 0 24 24" class="nav-icon">
                        <path d="M3 17v2h6v-2H3zM3 5v2h10V5H3zm10 16v-2h8v-2h-8v-2h-2v6h2zM7 9v2H3v2h4v2h2V9H7zm14 4v-2H11v2h10zm-6-4h2V7h4V5h-4V3h-2v6z"/>
                    </svg>
                    <span>Aléa 3</span>
                </a>
            
                <a href="/api/auth/logout" class="nav-1tem">
                    <svg viewBox="0 0 24 24" class="nav-icon">
                        <path d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H5a3 3 0 01-3-3V7a3 3 0 013-3h5a3 3 0 013 3v1"/>
                    </svg>
                    <span>Deconnexion</span>
                </a>

                
            </nav>
        </aside>

        <!-- Main Content -->
        <main class="main-content">